.appointmentCard{
    background: rgb(139, 77, 18);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    & h2 {
        text-align: center;
        padding: 10px;
    }

    & p {
        padding: 5px 0;
    }
}