.appointmentCard{
    background: #334155;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #475569;
    border-width: 1px;
    border-style: solid;

    & h2 {
        text-align: center;
        padding: 10px;
    }

    & p {
        padding: 5px;
    }
}