.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 70px;
    background-color: antiquewhite;
    padding: 30px;
}