.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;

    & h2 {
        text-align: center;
        margin: 20px;
    }
}

.registerLink{
    text-align: center;
    margin: 20px;
    box-sizing: border-box;
    width: 100%;
}