.appointmentsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h1 {
    text-align: center;
    margin: 20px;
}

.newAppointment{
    text-align: center;
    margin: 20px;
}