.appointmentsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    & h2 {
        text-align: center;
        margin: 20px;
    }
}

.noAppointments{
    text-align: center;
    margin: 20px;

    & h2 {
        text-align: center;
        margin: 20px;
    }
}