.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

    &{
        a{
            color: white;
            text-decoration: none;
        }
    }
}