.navBarULContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  height: 70px;
  padding: 30px;

  & {
    a {
      color: antiquewhite;
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}
