.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;

    & h2 {
        text-align: center;
        margin: 20px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem;
    gap: 1rem;
    background-color: #334155;
    border-radius: 15px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin: 1rem;

    & input {
        width: 100%;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    & button {
        padding: 5px;
        margin: 5px;
    }
}