.container{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & a{
        text-decoration: none;
        color: #646cff; /* Using the same original color for now. TODO: Change the color */
    }
    & :hover{
        color: #535bf2;
    }
}